<Lightning>
	<General>
		<Threads>0</Threads>
	</General>
	<Plugins>
		<Plugin>Foundation</Plugin>
		<Plugin>Platform</Plugin>
		<Plugin>Loader</Plugin>
		<Plugin>Window</Plugin>
		<Plugin>Render</Plugin>
		<Plugin>Scene</Plugin>
	</Plugins>
	<Resource>
		<Root>D:\Lightning_res</Root>
	</Resource>
	<Render>
		<MSAAEnable>true</MSAAEnable>
		<MSAASampleCount>4</MSAASampleCount>
	</Render>
</Lightning>
